/* make darker UI */
body {
    background-color: #0d1117;
    color: white;
}

.sidebar .sidebar-content {
    background-color: #161b22 !important;
}

.chat-message {
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
}
